{{ define "main" }}
<div class="mb-8">
  <h2 class="text-3xl font-bold mb-5">Hi!</h2>
  <div class="text-lg leading-7 space-y-4">
    <p>I'm a <span title="Flag of Nigeria">🇳🇬 </span> software engineer with a strong foundation in backend development and a passion for tackling complex challenges. 
      I'm fascinated by distributed systems, databases, and functional programming, and I primarily work with Go and Haskell.</p>
    <p>I write about what I'm building or learning on my <a class="underline" href="/blog">blog</a>. In my free time, you'll find me honing my skills on the piano keyboard.</p>
  </div>
</div>

<div class="mb-8">
  <h2 class="font-bold text-lg mb-2">Writings</h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {{ range first 4 (where site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <li>
        <a class="font-semibold hover:underline" href="{{.RelPermalink}}">{{.Title}}</a>
        <p class="text-sm">{{ dateFormat "January 2, 2006" .Date }}</p>
      </li> 
    {{ end }}
  </ul>
</div>
{{ end }} 