{{ define "main" }}
<div class="mb-8">
  {{ with .Content }}
    <div class="mb-8">{{ . }}</div>
  {{ end }}

  {{ if .Site.Taxonomies.tags }}
    <div class="mb-8">
      <div class="flex flex-wrap gap-2">
        {{ range first 20 .Site.Taxonomies.tags.ByCount }}
          <a href="{{ printf "/tags/%s/" .Name | relLangURL }}" class="bg-[#f1f0e8] border-b border-[#aaa] px-2 py-1 text-xs">{{ .Name | lower }} ({{ .Count }})</a>
        {{ end }}
      </div>
      <a href="/tags/" class="text-sm mt-2 underline">View all</a>
    </div>
  {{ end }}

  <div>
    {{ $pages := where .Site.RegularPages "Section" "in" (slice "blog" "shorts") }}
    
    {{ range ($pages.GroupByDate "2006") }}
      <div class="mb-8">
        <h1 class="text-2xl font-semibold mb-4">{{ .Key }}</h1>
        <div class="space-y-10">
          {{ range .Pages }}
            <div>
              <a href="{{ .RelPermalink }}" class="border-b border-[#aaa]">{{ .Title }}</a>
              <div class="text-sm mb-2">{{ dateFormat "January 2, 2006" .Date }}</div>
              <div class="flex items-center gap-2 mt-1">
                {{ range .Params.tags }}
                  <a href="{{ printf "/tags/%s/" . | relLangURL }}" class="bg-[#f1f0e8] border-b border-[#aaa] px-2 py-1 text-xs">{{ . }}</a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }} 
