{{ define "main" }}
<div class="mb-8">
  <h1 class="text-3xl font-bold mb-6">About</h1>
  
  <div class="mb-8">
    <div class="text-lg leading-7 space-y-4">
      <p>I'm a <span title="Flag of Nigeria">🇳🇬 </span> software engineer with a strong foundation in backend development and a passion for tackling complex challenges. 
        I'm fascinated by distributed systems, databases, and functional programming, and I primarily work with Go and Haskell.</p>
      <p>I write about what I'm building or learning on my <a class="underline" href="/blog">blog</a>. In my free time, you'll find me honing my skills on the piano keyboard.</p>
    </div>
  </div>

  {{ with .Content }}
    <div class="mt-8">
      {{ . }}
    </div>
  {{ end }}
</div>
{{ end }} 