{{ define "main" }}
<article class="mb-8">
  <header class="mb-8">
    <h1 class="text-3xl font-bold mb-2">{{ .Title }}</h1>
    <div class="text-sm">{{ dateFormat "January 2, 2006" .Date }}</div>
  </header>

  {{ if .Params.toc }}
  <div class="toc">
    <p class="text-base font-bold">Table of Contents</p>
    {{ .TableOfContents }}
  </div>
  {{ end }}

  <div class="max-w-none content-body">
    {{ .Content }}
  </div>

  {{ if .Params.tags }}
  <div class="mt-8 pt-4 border-t border-gray-200">
    <h3 class="text-lg font-bold mb-2">Tags:</h3>
    <div class="flex flex-wrap">
      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ if ne .Params.hidden true }}
    {{ $currentPage := . }}
    {{ $recentPages := where .Site.RegularPages "Permalink" "ne" .Permalink }}
    {{ $recentPages = where $recentPages "Section" "in" (slice "blog" "shorts")}}
    {{ if gt (len $recentPages) 1 }}
      <div class="mt-8 pt-4">
        <h3 class="text-lg font-bold mb-2">Recent posts:</h3>
        <div class="ml-8">
          <ul class="list-disc">
            {{ range first 10 $recentPages }}
              <li><a href="{{ .RelPermalink }}" class="text-base font-medium underline">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}
  {{ end }}
</article>
{{ end }} 
