{{ define "main" }}
<div class="mb-8">
  <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>

  <div class="flex flex-wrap gap-4">
    {{ range .Data.Terms.Alphabetical }}
      <div class="mb-2">
        <a href="{{ .Page.RelPermalink }}" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 rounded-md inline-flex items-center">
          <span>{{ .Page.Title }}</span>
          <span class="ml-2 px-2 py-1 bg-gray-200 rounded-full text-xs">{{ .Count }}</span>
        </a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }} 