<footer class="mt-8 mb-8 pt-8">
  <div class="text-sm font-medium max-w-sm">
    <p class="mb-3">Got any thoughts, comments, corrections or suggestions? <a class="underline" href="mailto:me@codehakase.com">Email me</a> or <a href="https://calendar.app.google/25LQtt9mAm2PuhG19?ref=codehakase.com" target="_blank" class="underline">Book a call</a>. I’d like to hear from you.</p>
    <div class="flex flex-col underline">
      <a href="/blog/index.xml">rss</a>
      <a href="https://github.com/codehakase?ref=codehakase.com">github</a>
      <a href="https://linkedin.com/in/codehakase?ref=codehakase.com">linkedin</a>
      <a href="https://bsky.app/profile/codehakase.com?ref=codehakase.com">bsky</a>
      <a href="https://x.com/codehakase?ref=codehakase.com">X</a>
    </div>
  </div>
</footer> 
