<footer class="mt-8 pt-8 border-t border-gray-200">
  <div class="flex flex-wrap justify-between items-center">
    <div class="font-bold">
      <a class="underline mr-4" href="/blog">/blog</a>
      <a class="underline mr-4" href="https://x.com/codehakase">/X</a>
      <a class="underline mr-4" href="https://linkedin.com/in/codehakase">/linkedin</a>
      <a class="underline" href="https://github.com/codehakase">/github</a>
    </div>
    <div class="mt-4 md:mt-0 text-sm">
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </div>
  </div>
</footer> 