<header class="flex flex-col md:flex-row justify-between items-center py-8">
  <div>
    <h1 class="text-2xl font-bold">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>
  </div>
  
  <nav class="mt-4 md:mt-0">
    <ul class="flex space-x-4 text-base">
      <li>
        <a href="/" class="underline font-bold">/home</a>
      </li>
      <li>
        <a href="/blog/" class="underline font-bold">/posts</a>
      </li>
      <li>
        <a href="/archive/" class="underline font-bold">/archive</a>
      </li>
      <li>
        <a href="/tags/" class="underline font-bold">/tags</a>
      </li>
      <li>
        <a href="/{{ now.Format "2006" }}" class="underline font-bold">/{{ now.Format "2006" }}</a>
      </li>
    </ul>
  </nav>
</header> 
