<header class="flex flex-col md:flex-row justify-between items-center py-8">
  <div>
    <h1 class="text-base font-bold">
      <a href="{{ .Site.BaseURL }}">codehakase.com</a>
    </h1>
  </div>
  
  <nav>
    <ul class="flex items-center justify-between gap-2 text-sm md:text-base">
      <li>
        <a href="/blog" class="underline font-bold">posts</a>
      </li>
      <li>
        <a href="/archive" class="underline font-bold">archive</a>
      </li>
      <li>
        <a href="/about" class="underline font-bold">about</a>
      </li>
      <li>
        <a href="/{{ now.Format "2006" }}" class="underline font-bold">{{ now.Format "2006" }}</a>
      </li>
    </ul>
  </nav>
</header> 
