<header class="flex flex-col md:flex-row justify-between items-center py-8">
  <div>
    <h1 class="text-4xl md:text-5xl font-bold">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>
  </div>
  
  <nav class="mt-4 md:mt-0">
    <ul class="flex space-x-4">
      <li>
        <a href="/about/" class="hover:underline font-bold">About</a>
      </li>
      <li>
        <a href="/blog/" class="hover:underline font-bold">Blog</a>
      </li>
      <li>
        <a href="/archive/" class="hover:underline font-bold">Archive</a>
      </li>
      <li>
        <a href="/tags/" class="hover:underline font-bold">Tags</a>
      </li>
    </ul>
  </nav>
</header> 